<md-toolbar>
    <div class="md-toolbar-tools title" layout="row" layout-align="start center" layout-padding>
        <span flex="5"></span>
        <img src="/resources/images/logo.png" class="logo">
        <span>2-RSS</span>
        <span flex="5"></span>
    </div>
</md-toolbar>
<md-content layout="row">
    <div flex="5"></div>
    <md-whiteframe class="md-whiteframe-2dp content" flex layout-margin>
        <div layout="row">
            <span flex="5"></span>
            <div layout="column" flex>
                <div class="announcement" layout="row" layout-align="center center" layout-padding>
                    Создайте <span class="rss">RSS</span> ленту для социальных сетей
                </div>
                <md-input-container>
                    <label>Вставьте ссылку социальной сети</label>
                    <input type="text" ng-model="socialUrl" ng-required>
                </md-input-container>
                <div layout layout-align="center">
                    <md-whiteframe class="md-whiteframe-2dp" flex="50" layout-padding ng-if="socialUrl">
                        <div ng-if="social" layout layout-align="space-around center">
                            <social-image value="social"></social-image>
                            <!--<img ng-src="{{social.image}}" class="social image">-->
                            <span>{{rssFeed}}</span>
                            <span layout="row" layout-padding>
                            <md-button class="md-accent md-icon-button" ngclipboard data-clipboard-text="{{rssFeed}}">
                                <md-icon>content_copy</md-icon>
                                <md-tooltip md-direction="bottom">Скопировать ссылку на RSS</md-tooltip>
                            </md-button>
                            <md-button class="md-icon-button"
                                       ng-href="http://feedly.com/i/subscription/feed/{{rssFeed}}" target="_blank">
                                <img src="/resources/images/feedly.png" class="social image small">
                                <md-tooltip md-direction="bottom">Открыть в Feedly</md-tooltip>
                            </md-button>
                                </span>
                        </div>
                        <div ng-if="!social" layout layout-align="space-around center">
                            <img src="/resources/images/sad.png" class="social image">
                            <span>Вы ввели неправильную ссылку или сервис не поддерживается</span>
                        </div>
                    </md-whiteframe>
                </div>
                <div class="supported-socials" layout="column" layout-align="center center" layout-padding>
                    <div>Поддерживаемые социальные сети</div>
                    <div>
                        <social-image ng-repeat="value in socials" value="value"></social-image>
                    </div>
                </div>
                <div class="how-to-use" layout="column" layout-align="center">
                    <div layout="row" layout-align="center">Как пользоваться сервисом?</div>
                    <div class="how-to-use-items" layout="row" layout-align="space-around center">
                        <div flex="10"></div>
                        <how-to-item icon="content_paste" text="Вставьте адрес страницы социальной сети"></how-to-item>
                        <how-to-item icon="link" text="Скопируйте ссылку на RSS ленту"></how-to-item>
                        <how-to-item icon="rss_feed" text="Добавьте RSS ленту в любимый RSS агрегатор"></how-to-item>
                        <div flex="10"></div>
                    </div>
                </div>
            </div>
            <span flex="5"></span>
        </div>
    </md-whiteframe>
    <div flex="5"></div>
</md-content>