.content {
    height: 700px;
}

.logo {
    height: 48px;
    width: 48px;
}

.github {
    height: 32px;
    width: 32px;
}

.title {
    font-weight: bold;
    font-size: x-large;
}

.announcement {
    text-transform: uppercase;
    font-size: x-large;
    margin-top: 50px;
}

.announcement .rss {
    font-weight: bolder;
    color: rgb(255, 171, 64);
}

.social.link {
    text-decoration: blink;
}

.social.image {
    border-radius: 50%;
    height: 40px;
}

.social.image.small {
    height: 24px;
}

.supported-socials,
.how-to-use {
    margin-top: 40px;
}

.how-to-use-items {
    margin-top: 20px;
}

.how-to-use-item .md-button {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.how-to-use-item .md-button md-icon {
    width: 50px;
    height: 50px;
    font-size: 50px;
}

.how-to-use-item .text {
    text-align: center;
}

